<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />.
</head>
<body>

<p>welcome to mercury</p>

<div id="dewplayer_content">
 
</div>
  <input type="button" onclick="play();" value="Play" />
  <input type="button" onclick="stop();" value="Stop" />
  <input type="button" onclick="pause();" value="Pause" /><br />
  <input type="button" onclick="next();" value="Next" />
  <input type="button" onclick="prev();" value="Prev" />
  <input type="button" onclick="go(2);" value="Go(2)" /><br />
<script type="text/javascript" src="/js/swfobject.js"></script>
<script type="text/javascript" src="/js/player-embed.js">
</script>
<script type="text/javascript" src="/js/mercury.js"></script>
</body>
</html>